.work{
    display: block;
    align-items: center;
    text-align: center;
    margin: 50px 0 100px 0;
}

/********************** Media Quary **********************/
@media screen and (max-width: 480px) {
  /* .cardList {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  } */
}